<?xml version="1.0" encoding="utf-8"?>

<configuration>
    
    <appSettings>
        <add key="baseUrl" value="https://translate.google.com.ua"/>
        
        <!-- chrome | firefox -->
        <add key="browser" value="chrome"/>
        
        <add key="explicit_wait" value="10" />
        <add key="imlicit_wait" value="5" />
        
    </appSettings>
</configuration>